<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyun.train.one.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.xingyun.train.one.pojo.User" >
    <id column="userid" property="user_id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="BIGINT" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 根据用户名和密码查询 -->
  <select id="login" resultType="com.xingyun.train.one.pojo.User">
  	select userid,username,password,nickname,date,salt from user where username=#{username} and password=#{password};
  </select>
  
  <!-- 更新昵称 -->
  <update id="addNickName" parameterType="com.xingyun.train.one.pojo.User">
  	update user
  	<set>
  		nickname=#{nickname}
  	</set>
  	where userid=#{userid}
  </update>
  
  <!-- 根据用户名查询 -->
  <select id="findByName" resultType="com.xingyun.train.one.pojo.User">
  	select userid,username,password,nickname,date,salt from user where username = #{username}
  </select>
  
  <!-- 用户注册 -->
  <insert id="regist" parameterType="com.xingyun.train.one.pojo.User">
  	insert into user(username,password,date,salt) values (#{username},#{password},#{currentTime},#{salt})
  </insert>
  
  <!-- 通过用户名更新密码 -->
  <update id="updatePwdByName" parameterType="com.xingyun.train.one.pojo.User">
  	update user
  	<set>
  		password=#{password},salt=#{salt}
  	</set>
  	where username=#{username}
  </update>
  
</mapper>